<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./registrar-inmuebles.component.css">
    <script src="https://kit.fontawesome.com/f1de7dac9f.js" crossorigin="anonymous"></script>
    <title>Inmuebles</title>
</head>


<body>

    <form id="form">
        <div class="form">
            <h1>Registro Inmueble</h1>

            <!--<img src="http://localhost:3000/Inmobiliaria_IMG-20170112-WA0057.jpg">-->

            <div class="grupo">
                <br><br>
                <select name="" id="tipo"> 
                    <option selected></option>
                    <option value="casa">Casa</option>
                    <option value="apartamento">Apartamento</option>
                    <option value="lote">Lote</option>
                    <option value="habitacion">Habitación</option>
                </select>
                <label for="tipo">Tipo Inmueble:</label>
                <span class="barra"></span>
            </div>

            <div class="grupo">
                <input type="text" name="" id="nombre"> <span class="barra"></span>
                <label for="nombre">Nombre Inmueble:</label>
            </div>


            <div class="grupo">
                <input type="number" name="" id="numeroHabitaciones"> <span class="barra"></span>
                <label for="numeroHabitaciones">Número de habitaciones:</label>
            </div>

            <div class="grupo">
                <input type="number" name="" id="precio"> <span class="barra"></span>
                <label for="precio">Precio ($):</label>
            </div>


            <div class="grupo">
                <input type="file" name="" id="imagen" (change)="loadImages($event)"> <span class="barra"></span>
                <label for="imagen">Imagen:</label>
            </div>

            <div class="grupo">
                <input type="text" name="" id="ubicacion"> <span class="barra"></span>
                <label for="ubicacion">Ubicacion:</label>
            </div>

            <button type="submit" (click)="registrarInmuebles()">Agregar</button>
            <button type="submit" ng-click="CrearTodo()">Buscar</button>
        </div>
    </form>


</body>

</html>