<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./registrar-ubicaciones.component.css">
    <title>Ubicaciones</title>
</head>

<body>

    <form action="" id="form">
        <div class="form">
            <h1>Registro Ubicación</h1>

            <div class="grupo">
                <input type="text" id="departamento"> <span class="barra"></span>
                <label for="departamento">Departamento:</label>
            </div>

            <div class="grupo">
                <input type="text" id="ciudad"> <span class="barra"></span>
                <label for="ciudad">Ciudad:</label>
            </div>

            <div class="grupo">
                <input type="text" id="zona"> <span class="barra"></span>
                <label for="zona">Zona:</label>
            </div>

            <button type="submit" (click)="registrarUbicaciones()">Agregar</button>

        </div>
    </form>
    <!-- <li *ngFor="let ubica of ubicaciones">
        {{ubicaciones.departamento}
    </li> -->
</body>