<!DOCTYPE html>
<html ng-app="InmueblesApp" id="InmueblesApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--LLAMAR LIBRERIA DE ANGULAR PARA SU USO EN EL MAIN.JS-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="assets/style.css">
    <script src="./InmueblesApp.js"></script>

    <!--Conectar el CSS a este index!!!!-->

    <title>Creacion Inmueble</title>
</head>

<body ng-controller="myController">

    <!--Crear formulario para la creacion de los inmuebles-->
    <form id="form">
        <div class="form">
            <h1>Crear Inmueble</h1>
            <div class="grupo">
                <input type="text" name="" id="name" required ng-model="formData.nombre"> <span class="barra"></span>
                <label for="">Nombre Inmueble</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required ng-model="formData.tipo"> <span class="barra"></span>
                <label for="">Tipo Inmueble</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required ng-model="formData.numero_habitaciones"> <span class="barra"></span>
                <label for=""> Numero de habitaciones </label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required ng-model="formData.imagen"> <span class="barra"></span>
                <label for="">Imagen</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required ng-model="formData.ubicacion"> <span class="barra"></span>
                <label for="">Ubicación</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="name" required ng-model="formData.precio"> <span class="barra"></span>
                <label for="">Precio</label>
            </div>
            <button type="submit" ng-click="createTodo()">Crear</button>
        </div>
    </form>
    
</body>
</html>
