<!DOCTYPE html>

<html ng-app="UbicacionesApp" id="UbicacionesApp">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
    <meta name="author" content="webThemez.com">
    <link rel="favicon" href="assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel='stylesheet' id='camera-css' href='assets/css/camera.css' type='text/css' media='all'>
    <script src="./UbicacionesApp.js"></script>
    <script src="./estilos.css"></script>

</head>

<body ng-controller="myController">

<!--
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="./index.html">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li class="active"><a href="/">Inicio</a></li>

                    <li><a href="">Servicios</a></li>

                    <li><a href="./usuarios.html">Registrese</a></li>

                    <li><a href="./ubicaciones.html">Ubicaciones</a></li>

                    <li><a href="">Contacto</a></li>

                </ul>
            </div>
        -->         <!--/.nav-collapse -->
    <!--</div>
    </div>-->

                    <form id="form">
                        <div class="form">
                            <h1 class="titulo5">Registro Ubicación</h1>
                            <div class="grupo">
                                <input type="text" class="form-control input-lg text-center" id="Departamento" ng-model="formData.Departamento"><br><br>
                                <label for="valor">Departamento:</label>
                            </div>
                            <div class="grupo">
                                <input type="text" class="form-control input-lg text-center" id="Ciudad" ng-model="formData.Ciudad"><br><br>
                                <label for="valor">Ciudad:</label>
                            </div>
                <div class="grupo">
                            <input type="text" class="form-control input-lg text-center" id="Zona" ng-model="formData.Zona"> <br><br>
                            <label for="Barrio">Zona:</label>
            </div>
                            <button type="submit" ng-click="createTodo()">Registrar</button>
                        </div>
                    </form>

<!--                <footer id="footer">
                    <div class="container">
                        <div class="social text-center">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>

                        <div class="clear"></div>
                    -->
                        <!--CLEAR FLOATS-->
                    </div>

</body>

</html>