<!doctype html>
<html lang="en">

<head>
    <title>Inmobiliaria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../assets/css/style.css">

    <script src="https://kit.fontawesome.com/f1de7dac9f.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./registrar-usuairos.component.css/"> -->

</head>

<body>
    <section class="ftco-section">

        <div class="container">
            <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Inmobiliaria</a>
                    <div class="social-media order-lg-last">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto mr-md-3">
                            <li class="nav-item"><a routerLink="/app-inicio" routerLinkActive="active" class="nav-link">Inicio</a></li>
                            <li class="nav-item"><a routerLink="/app-consultar-inmuebles" routerLinkActive="active" class="nav-link">Consulta</a></li>
                            <li class="nav-item"><a routerLink="/app-registrar-usuairos" routerLinkActive="active" class="nav-link">Registro</a></li>
                            <li class="nav-item"><a routerLink="/app-registrar-inmuebles" routerLinkActive="active" class="nav-link">Inmuebles</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
                        </ul>
                    </div>
                </div>


            </nav>
            <!-- END nav -->
        </div>

    </section>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>

<router-outlet></router-outlet>
<!-- Footer -->
<footer id="myFooter">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-footer col-md-12 col-xs-12 col-lg-12">
                    <div class="text-center">
                        <div class="footer-copyright"><h5><b>&copy; 2021 MisionTIC. - Desarrollado por ClanBackend</b></h5></div>
                        <div class="footer-copyright"><h6><b>Tel. 3001548798. - clanbackend@gmail.com</b></h6></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>