<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./registrar-usuairos.component.css">
    <title>Registro usuario</title>
</head>

<body>

    <form action="" id="form">
        <div class="form">
            <h1>Registro</h1>

            <div class="grupo">
                <input type="text" name="" id="nombre"> <span class="barra"></span>
                <label for="nombre">Nombres:</label>
            </div>


            <div class="grupo">
                <input type="text" name="" id="documento"> <span class="barra"></span>
                <label for="documento">Documento:</label>
            </div>


            <div class="grupo">
                <input type="text" name="" id="email"> <span class="barra"></span>
                <label for="email">E-mail:</label>
            </div>

            <div class="grupo">
                <input type="text" name="" id="usuario"> <span class="barra"></span>
                <label for="usuario">Usuario:</label>
            </div>

            <div class="grupo">
                <input type="password" name="" id="clave"> <span class="barra"></span>
                <label for="clave">Contraseña</label>
            </div>

            <button type="submit" (click)="registrarUsuarios()">Agregar</button>

        </div>
    </form>
</body>